footer .content-container {
	padding: 3.12rem 0;
	display: flex;
	justify-content: space-between;
}

footer .social {
	display: flex;
	gap: 17px;
	margin: 2.25rem 0;
}

footer .copyright {
	color: #fff;
	font-size: 1rem;
	font-family: 'Alegreya', serif;
	font-weight: 400;
}

footer h3 {
	color: var(--red-color);
	font-size: 1.125rem;
	font-family: 'Alegreya', serif;
	font-weight: 700;
	margin: 0;
}

footer .links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer a {
	color: #fff;
}

footer a:hover {
	text-decoration: underline;
}

footer .links ul li {
	font-size: 1rem;
	font-family: 'Alegreya', serif;
	font-weight: 400;
	margin: 0.31rem 1rem;
}

footer .copyright.mobile {
	display: none;
}

/* Smartphone version */
@media (max-width: 720px) {
	footer .content-container {
		flex-direction: column;
		gap: 40px;
	}

	footer .copyright {
		display: none;
	}

	footer .copyright.mobile {
		display: block;
	}

	footer .social {
		margin-bottom: 0;
	}
}
